.app {
    background-color: #f3f2ef;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* max-width: 1200px;
    margin: 0 auto; */
}

.app-body {
    display: flex;
    margin: 35px 20px 0 20px;
    max-width: 1200px;
    /* margin-top: 35px;*/
    width: 100%; 
}